*{
    margin: 0;
    padding: 0;
}
.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
.links{
    width: 30%;
    height: 5px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 800px;


}
.links label{
    padding: 10px 0px;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #fff;
}
.links label:hover{
    background-color: rgba(255, 255,255,.2);
}
.scroll input {
    display: none;
}
.scroll {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#HOME_1{
    background-image: url("./assets/img/fogo.jpg");
}
#SOBRE_1{
    background-color: #69f;
}
#GALERIA_1{
    background-color: #FAA;
}
#CONTATO_1{
    background-color: #AAA;
}
.sections{
    transition: all .4s;
}
#SOBRE:checked ~ .sections{
    margin-top: -100vh;
}
#GALERIA:checked ~ .sections{
    margin-top: -200vh;
}
#CONTATO:checked ~ .sections{
    margin-top: -300vh;
}
