*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.mainContent {
    background: url(../img/people-2583493.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 766px;    
}
.shadow {
    position: absolute;
    background-color: black;
    opacity: 0.7;    
    background-position: center;
    color: white;
    width: 100%;
    height: 766px;  
}
.mainContentContainer {
    width: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    

}
.logo {
    width: 300px;
    margin-top: 200px;
}
.heroBoxContainer{   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 600px;
    margin-left: 200px;
    margin-top: -100px;    
}
.heroBoxContainer a.Demonst {
    background-color: rgb(185, 73, 92);
    display: flex;
    margin-left: 300px;   
}
.menuContainer {     
    margin-left: 400px;
    font-size: 15px;   
}
.menu{
    display: flex;
    justify-content: center;
    width: 600px;   
    margin-left: 800px; 
}
.menuContent {
    width: 300px;
    margin-right: 300px;   
    list-style: none;
    display: flex;
    justify-content: space-between;    
    font-size: 12px;
    
}
.menuContent a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(248, 248, 248); 
    font-size: 13px;  

}
li a {
    text-decoration: none;
    color: white;
}

.centerContent {
    background: black;
    height: 780px;
    color: white;
}
.centerContentContainer h1 {
    font-size: 60px ;
}

.centerContentContainer {
    display: flex;
    justify-content: space-evenly;
    
}
.centerContentContainer img{
    height: 500px;
    width: 350px;
    margin-top: 100px;   
         
}
.centerContentContainer article{
    height: 300px;
    width: 300px;
    margin-top: 100px;
    margin-left: 100px; 
}
.ok {
    position: absolute;
    opacity: 0.5;
    background-color:black;
    height: 500px;
    width: 350px;
    margin-top: 150px;      
}
.bottomContentContainer {
    display: flex;    
    justify-content: space-evenly;    
    background-color: black;
    height: 700px;
    width: 100%;
}
.Sombrancelas {   
    display: flex;  
    align-items: center;
    justify-content: space-between; 
    flex-flow: column;   
    color: white;
    background-image: url("../img/imgsombrancelha.jpg");
    background-size: 100%;
    height: 550px;
    width: 350px;  
    margin-top: 80px;  
}
.Sombrancelas h1  {
    margin-top: 50px ;
}
.Sombrancelas a {
    margin-bottom: 50px ;
}
.Unhas {    
    display: flex;  
    align-items: center;
    justify-content: space-between; 
    flex-flow: column;   
    color: white;
    background-image: url("../img/imgunhas.jpg");
    background-size: 100%;
    height: 550px;
    width: 350px; 
    margin-top: 80px;    
}
.Unhas h1  {
    margin-top: 50px ;
}
.Unhas a {
    margin-bottom: 50px ;
}
.Cilios {    
    display: flex;  
    align-items: center;
    justify-content: space-between; 
    flex-flow: column; 
    color: white;  
    background-image: url("../img/cilhos.jpeg");
    background-size: 100%;
    height: 550px;
    width: 350px;  
    margin-top: 80px;      
}

.Cilios h1  {
    margin-top: 50px ;
}
.Cilios a {
    margin-bottom: 50px ;
}
.paglow {
    display: flex;
    height: 270px;
    width: 100%;
    justify-content: space-evenly;  
    color: white;   
    background-color: black; 
    padding-top: 100px;      
}
.Demonst {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 35px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5) ;
    border: 1px solid white;
    border-radius: 80px;   
}
.Demonst:hover{
    text-decoration: none;
    font-size: 17px;
    color: rgb(248, 248, 248);
    font-weight: bold;
    
}
.mapa{
    display: flex;
    margin-top: 200px;
    margin-left: 500px;
    
}

.bloco{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}





